<nav class="bg-success d-flex justify-content-between p-1">
    <div class="leftNav d-flex mt-1 ms-1">
        <div class="logo me-3">
            <h5>Noël & Cie</h5>
        </div>
        <div class="menu text-warning">
            <p>Boules</p>
        </div>
    </div>
    <div class="rightNav text-info">
        Admin
    </div>
</nav>